<!DOCTYPE HTML>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style_htmlinput.css') }}"> 
    
    <title>OpenFUCK</title>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='socket.io.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/fucking';
            var socket = io.connect('wss://fuck.openfuck.org:5000/fucking');
            socket.on('connect', function() {
                socket.emit('event', {data: 'I\'m connected!'});
            });
            socket.on('disconnect', function() {
                $('#log').append('<br>Disconnected');
            });
            socket.on('update_value', function(msg) {
                $('input#'+msg.who).val(msg.data)
                $('#log').append('<br>Update Value ' + msg.data +msg.who);
            });
            socket.on('update_radio', function(msg) {
                $('input:radio[name="mode"]').filter(`[value="${msg.data}"]`).click();
                $('#log').append('<br>Update Radio ' + msg.data +msg.who);
            });
            $('input.sync').on('change', function(event) {
                socket.emit('ui_change', {who: $(this).attr('id'), data: $(this).val()});
                return false;
            });
            $('#go_zero').click(function () {
                socket.emit('button_click', {who: $(this).attr('id'), data: 1});
            });
            $('#go_min').click(function () {
                socket.emit('button_click', {who: $(this).attr('id'), data: 1});
            });
            $('#go_max').click(function () {
                socket.emit('button_click', {who: $(this).attr('id'), data: 1});
            });
            $('form#mode').on('change', function(event) {
                socket.emit('radio_change', {who: $(this).attr('id'), data: $('input:radio[name=mode]:checked').val()});
                return false
            });
        });
    </script>
</head>
<body>
	<aside>
    <div align = "center">
        <h2>OpenFUCK</h2><br>
        OpenFuck.org<br>


    
    <h2>Off  |  On</h2>
    <input id="on_off" class="sync" type="range" min="0" max="1" step="1" value="{{on_off}}"/>

	
	<h2 style="text-align:center;">Move</h2>
    <input type="button" id="go_zero" value="Go Zero" /><br>
    <input type="button" value="Go Min" id="go_min" /><br>
    <input type="button" value="Go Max" id="go_max" />

    <h2>Mode</h2>
    <form id="mode">
    <input type="radio" name="mode" value="0" checked> Go Between<br>
    <input type="radio" name="mode" value="1"> Speed Crossing<br>
    <input type="radio" name="mode" value="2"> Speed Ramp<br>
    <input type="radio" name="mode" value="3"> Slapper<br>
    <input type="radio" name="mode" value="4"> Threesome
    <!-- <input type="radio" name="mode" value="5"> Manual<br> -->
    </form><br>
	</div>
    </aside>
	
    
    <section> 
    <div align = "center">
    
    MAX DEPTH<br><input id="max_depth" class="sync" type="range" min="135" max="240" step="5" value="{{max_depth}}"/><br>
    STROKE LENGTH<br><input id="stroke_length" class="sync" type="range" min="15" max="135" step="1" value="{{stroke_length}}"/><br>
    MAX SPEED<br><input id="max_speed" class="sync" type="range" min="10" max="100" step="1" value="{{max_speed}}"/><br>
    MIN SPEED<br><input id="min_speed" class="sync" type="range" min="10" max="100" step="1" value="{{min_speed}}"/><br>
    MAX WAIT<br><input id="max_delay" class="sync" type="range" min="0.5" max="10" step="0.5" value="{{max_delay}}"/><br>
    MIN WAIT<br><input id="min_delay" class="sync" type="range" min="0.5" max="10" step="0.5" value="{{min_delay}}"/><br>
    SPEED RAMP<br><input id="speed_step" class="sync" type="range" min="8" max="100" step="1" value="{{speed_step}}"/><br>
    </div>
	</section>
    <footer>
  <p align ="center">Source Code and Details at http://wwww.openfuck.org</p>
  <article>
      <br> <br>
  </article>
</footer>
</body>
